# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/

# Validator json files generated programmatically
applied-validators.json
plutus.json